<md-sidenav-layout fullscreen class="layout-private">
    <md-sidenav #sidenav class="app-sidenav">
        <md-nav-list>
            <a md-list-item>
                <md-icon md-list-icon>gesture</md-icon>
                <span md-line>Teste</span>
                <span md-line class="secondary">Nada</span>
            </a>
        </md-nav-list>
    </md-sidenav>
    <md-toolbar color="primary" class="layout-private">
        <button md-icon-button (click)="sidenav.open()">
            <md-icon>menu</md-icon>
        </button>
        <span class="fill-space"></span>
        <button md-icon-button (click)="Go('/')">
            <md-icon>home</md-icon>
        </button>
        <button md-icon-button (click)="Go('/about')">
            <md-icon>help_outline</md-icon>
        </button>
        <button md-icon-button (click)="Go('/about/contact')">
            <md-icon>record_voice_over</md-icon>
        </button>
        <button md-icon-button (click)="SignOut()">
            <md-icon>exit_to_app</md-icon>
        </button>
    </md-toolbar>
    <router-outlet></router-outlet>
</md-sidenav-layout>