<div class="sign-up-form">
    <form #signInForm="ngForm" (ngSubmit)="SignUp()">
        <md-input [(ngModel)]="SignUpModel.Name" name="Name" #Name="ngModel" type="text" required placeholder="Name"></md-input>
        <md-input [(ngModel)]="SignUpModel.Email" name="Email" #Email="ngModel" type="email" required placeholder="Email"></md-input>       
        <md-input [(ngModel)]="SignUpModel.Password" name="Password" type="password" required placeholder="Password"></md-input>
        <button md-button class="end" type="submit" [disabled]="Running">SigUp</button>
    </form>

    <sign-in-social></sign-in-social>
</div>