<div class="sign-in-form">
    <form #signInForm="ngForm" (ngSubmit)="SignIn()">
        <md-input [(ngModel)]="SignInModel.User" name="User" #User="ngModel" type="text" required placeholder="Email"></md-input>
        <div [hidden]="User.valid" class="alert alert-danger">
            Name is required
        </div>
        <md-input [(ngModel)]="SignInModel.Password" name="Password" type="password" required placeholder="Password"></md-input>

        <button class="end" md-button type="submit" [disabled]="Running">SigIn</button>
    </form>

    <div *ngIf="Erro">
        <p>Error</p>
        <ul>
            <li *ngFor="let msg of Messages">
                <span>{{msg}}</span>                
            </li>
        </ul>
    </div>

    <sign-in-social></sign-in-social>
</div>

